.carousel {
    margin: 20px 15px;
    padding: 0 8px;
    width: 97%;
    height: 60vh;
    overflow: hidden;
    position: relative;
}

.carousel .list .item {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Show the active first item */
.carousel .list .item:nth-child(1) {
    z-index: 1;
    opacity: 1;
}

.carousel .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    max-width: 90%;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    z-index: 100;
}

.arrows button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(245, 241, 5);
    border: none;
    font-family: monospace;
    color: black;
    font-weight: bold;
    font-size: large;
    transition: 0.5s;
    cursor: pointer;
}



.arrows button:hover {
    background-color: black;
    color: rgb(233, 233, 34);
}

/* Disable buttons during transition */
.carousel.next .arrows button,
.carousel.prev .arrows button {
    pointer-events: none;
}

/* Progress Bar */
.time {
    width: 0%;
    height: 5px;
    background-color: #eee;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}

.carousel.next .time,
.carousel.prev .time {
    animation: timeRunning 5s linear 1 forwards;
}

@keyframes timeRunning {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}

.dots li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #000000;
    display: inline-block;
    margin: 0 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.dots li.active {
    background-color: #f8eb31;
}

.dots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    top: 55%;
}

.TopPicks h2 {
    margin: 20px 0 10px 15px;
    font-size: 1.5rem;
    font-weight: bold;
}

.Trending h2 {
    margin: 20px 0 10px 15px;
    font-size: 1.5rem;
    font-weight: bold;
}

.NewArrival h2 {
    margin: 20px 0 10px 15px;
    font-size: 1.5rem;
    font-weight: bold;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

@media (max-width: 1400px) {
    .carousel {
        width: 95%;
        height: 250px;
        margin: -5px 10px;
        overflow: hidden;
        position: relative;
        padding: 0;
    }

    .carousel .list .item img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .arrows {

        position: absolute;
        top: 15%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        max-width: 90%;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }

    .arrows button {
        width: 20px;
        height: 20px;
        font-size: 10px;
        margin: 0;
    }

    .TopPicks h2 {
        margin: 10px 0 5px 10px;
        font-size: 1.2rem;
        font-weight: bold;
    }

    .NewArrival h2 {
        margin: 10px 0 5px 10px;
        font-size: 1.2rem;
        font-weight: bold;
    }

    .Trending h2 {
        margin: 10px 0 5px 10px;
        font-size: 1.2rem;
        font-weight: bold;
    }

    .footer {
        display: none;
    }
}